.doc-cabinet {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    display: flex;

    &__sidebar {
        background-color: #fff;
        width: 320px;
        padding: 15px;
        border-radius: 5px;
        margin-right: 30px;
    }

    &__searchbar {
        display: flex;
        align-items: center;
        & label {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #4293e1;
            margin-right: 20px;
        }
    }
    &__content {
        flex-grow: 1;
    }
}

.docside {
    &__headline {
        display: flex;
        padding-bottom: 12px;
        border-bottom: 1px solid #dce9ff;
    }
    &__titles {
        margin-left: 18px;
    }
    &__name {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 5px;
    }
    &__job {
        font-weight: 500;
        font-size: 16px;
        line-height: 144.19%;
        color: #7ab3ea;
    }
    &__properties {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dce9ff;
        list-style: none;
        padding-left: 0;
    }
    &__property {
        position: relative;
        padding-left: 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #dce9ff;
        }
    }
    &__statheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__statname {
        margin-bottom: 0;
    }
    &__dropdown {
        color: #7ab3ea;
        font-weight: 500;
        font-size: 16px;
        & svg,
        & path {
            fill: #7ab3ea;
        }
    }
    &__statlist {
        margin-top: 30px;
        list-style: none;
        padding-left: 0;
    }
    &__statitem {
        font-size: 14px;
        line-height: 16px;
        position: relative;
        padding-left: 20px;
        &:not(:last-child) {
            margin-bottom: 18px;
        }

        & .stat__count {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            margin-left: 18px;
        }

        & .stat__color {
            position: absolute;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
