.docCabSearchBtn {
    background: #7ab3ea;
    border: 1px solid #dce9ff;
    box-sizing: border-box;
    border-radius: 5px;
    color: #fff;
    &:hover {
        background: #7ab3ea;
        color: #fff;
    }
}
